[submodule "osbooks-astronomy"]
	path = osbooks-astronomy
	url = https://github.com/openstax/osbooks-astronomy.git
[submodule "something"]
	path = something
	url = https://github.com/TylerZeroMaster/something.git
[submodule "enki"]
	path = enki
	url = https://github.com/openstax/enki.git
[submodule "osbooks-world-history"]
	path = osbooks-world-history
	url = https://github.com/openstax/osbooks-world-history.git
